body {
    padding: 0;
    margin: 0;
}

.fournisseur-container {
    font-family: Arial, Helvetica, sans-serif;
}

/* Head part */

.head {
    height: 100px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 10fr 2fr;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
}

.head ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left: 0px;
}

.bi-list-container {
    position: absolute;
    left: 2%;
    top: 35%;
    cursor: pointer;
    display: none;
    height: auto;
    width: auto;
}

.bi-list-container:hover #menu-ul {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #ddd;
    position: absolute;
    top: 23px;
    background-color: #000000;
    list-style-type: none;
    margin-left: 0px;
    left: -30px;
    min-width: 180px;
}

.bi-list-container:hover #menu-ul li {
    margin-top: 18px;
}

.bi-list {
    color: white;
    height: 35px;
    width: 35px;
}

.head ul:first-child {
    margin-left: 15%;
}

.head ul li {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 40px;
    color: white;
    transition: 400ms ease all;
    font-weight: bold;
    cursor: pointer;
}

.head ul li:hover {
    color: rgba(255, 27, 0, 1);
}
.head a {
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
    color: white;
    background-color: rgba(255, 27, 0, 1);
    border-radius: 5px;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 450ms ease all;
    float: right;
}

.head a:hover {
    color: rgba(255, 27, 0, 1);
    background-color: white;
}

.head ul li a {
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    border-radius: inherit;
    width: inherit;
    height: inherit;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    cursor: inherit;
    transition: none;
    float: inherit;
}
.head ul li a:hover {
    color: inherit;
    background-color: inherit;
}

/* appels d'eoffres part */

.appels-offres-container {
    background-color: rgb(252, 247, 247);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.new-ended-all {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    font-size: 20px;
    width: 400px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 30px;
}

.new-ended-all .active-choice {
    border-bottom: 4px solid rgba(255, 27, 0, 1);
    padding-bottom: 3px;
    color: rgba(255, 27, 0, 1);
}

.new-ended-all span {
    cursor: pointer;
}

.new-ended-all span:hover {
    border-bottom: 4px solid rgba(255, 27, 0, 1);
    padding-bottom: 3px;
}

.appels-offres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.appels-offres .cart-appel {
    background-color: white;
    height: 370px;
    width: 300px;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px 1px rgb(204, 203, 203);
    border-radius: 4px;
    padding: 15px 30px;
}

.offre-number {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.number-ressources-container,
.dates-container {
    font-style: italic;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 40px;
    font-weight: normal;
}

.number-ressources-container p {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dates-container p {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-container {
    text-align: center;
}

.custom-btn {
    width: 200px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}


/* 5 */
.btn-5 {
    width: 200px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255, 27, 0);
    background: linear-gradient(0deg, rgba(255, 27, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
}

.btn-5:hover {
    color: #f0094a;
    background: transparent;
    box-shadow: none;
}

.btn-5:before,
.btn-5:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #f0094a;
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.btn-5:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 4px;
}

.btn-5:hover:before,
.btn-5:hover:after {
    width: 100%;
    transition: 800ms ease all;
}


.h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;

}

.p {
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
}

/* sign up part */

.sign-up-part {
    height: 85vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 60%;
    min-width: 500px;
    height: 70vh;
    min-height: 300px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 2px 2px 2px 1px rgb(219, 216, 216);
}

.form-left-container,
.form-right-container {
    width: 100%;
    height: 100%;
}

.form-right-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-right-container .form {
    background-color: rgb(252, 247, 247);
    height: 70%;
    width: 70%;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-right-container .form .inputs-container {
    display: flex;
    flex-direction: column;
}

.form-right-container .form .inputs-container input {
    height: 30px;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 5px 20px;
    outline: none;
}

.form-left-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.form-left-container div {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(253, 135, 122), rgb(252, 247, 247));
}

/* Notifications part */
.notifications-container,
.propositions-container,
.soumettre-proposition {
    background-color: rgb(252, 247, 247);
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-container {
    margin-top: 60px;
    width: 90%;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 1px 1px 1px 1px rgb(228, 227, 227);
}

thead {
    background-color: #f2f2f2;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px 20px;
}

td {
    background: white;
}

tbody tr:hover {
    background-color: #ddd;
    z-index: 100;
}

tbody tr:hover td {
    background: transparent;
}

table tbody tr td button {
    outline: none;
    border: none;
    padding: 6px 10px;
    color: white;
    border-radius: 4px;
    background-color: rgba(255, 27, 0, 1);
    transition: 300ms ease all;
}

table tbody tr td button:hover {
    color: rgba(255, 27, 0, 1);
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {

    th,
    td {
        padding: 5px;
    }
}

/* Mes Propositions */
.td-status {
    display: flex;
    justify-content: center;
    height: 100%;
}

.accepted,
.refused,
.encours {
    color: white;
    border-radius: 14px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
    cursor: default;
}

.accepted {
    background-color: rgb(86, 236, 86);
}

.refused {
    background-color: rgb(248, 5, 5);
}

.encours {
    background-color: rgb(118, 193, 255);
}

/* Soumettre proposition part */

.ressources-proposition-container {
    margin-top: 60px;
    width: 80%;
}

.ressource-container {
    min-width: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ressource-container .ressource,
.ressource-container .proposition {
    background-color: white;
    margin-left: 8px;
    margin-right: 8px;
    padding: 10px 20px;
    box-shadow: 1px 1px 1px 1px rgb(204, 203, 203);
    border-radius: 8px;
}

.ressource-container .ressource div,
.ressource-container .proposition div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ressource-container .ressource div label,
.ressource-container .proposition div label {
    font-size: 14px;
}

.soumettre-proposition .input {
    height: 20px;
    padding: 5px 15px;
    outline: none;
}

.proposition-down-elements {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: end;
}

.proposition-down-elements div {
    width: 500px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.proposition-down-elements div button {
    grid-column: 2;
    width: 100%;
}

/* login */
.login-part {
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form-container {
    width: 60%;
    min-width: 400px;
    height: 70vh;
    min-height: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 1px rgb(219, 216, 216);
}

.login-part .form {
    background-color: rgb(252, 247, 247);
    height: 70%;
    width: 70%;
    padding: 10px 30px;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.login-part .form .inputs-container {
    display: flex;
    flex-direction: column;
}

.login-part .form .inputs-container input {
    height: 30px;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 5px 20px;
    outline: none;
}

.login-btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

/* detail appel */

.window-detail {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.1);
}
.appel-detail {
    height: 50%;
    min-height: 300px;
    width: 60%;
    min-width: 400px;
    overflow: auto;
    position: relative;
}
.appel-ressources-detail .ressource-caracteristiques{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cancel-svg {
    width: 30px;
    height: 30px;
    color: black;
    cursor: pointer;
    position: fixed;
    bottom: 70px;
    left: 48%;
    right: 48%;
}
 /* compte style */
 .compte-informations-container {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.compte-cart {
    width: 60%;
    min-width: 350px;
    min-height: 300px;
    height: 30%;
    box-shadow: 2px 2px 5px 1px rgb(204, 203, 203);
}
.compte-cart h4 {
    text-align: center;
}
.compte-cart .infos-container {
    padding: 20px 50px;
}
.compte-cart .infos-container .info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}
.compte-cart .infos-container .info-container span, .compte-cart .infos-container .info-container a {
    text-align: center;
}
.compte-cart .link-retour {
    text-align: center;
    width: 100%;
}

/* error message style */
.message-erreur-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.message-elements {
    height: 400px;
    width: 500px;
    background-color: rgb(250, 248, 248);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.warning-icon {
    width: 70px;
    height: 70px;
    margin-top: 40px;
    margin-bottom: 30px;
    color: yellow;
}

.message-elements p {
    max-width: 370px;
    text-align: center;
}

.btn-ok {
    margin-top: 40px;
    width: 200px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: yellow;
    background: yellow;
}

.btn-ok:hover {
    color: yellow;
    background: transparent;
    box-shadow: none;
}

.btn-ok:before,
.btn-ok:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: yellow;
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.btn-ok:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 4px;
}

.btn-ok:hover:before,
.btn-ok:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

/* Responsive style */
@media screen and (max-width: 1050px) {
    .head ul:first-child {
        margin-left: 10%;
    }
}

@media screen and (max-width: 960px) {
    .head {
        grid-template-columns: 9fr 3fr;
    }

    .head ul {
        display: none;
    }

    .bi-list-container {
        display: block;
    }

    .head a {
        grid-column: 2;
    }

    .form-container {
        width: 65%;
        min-width: 0px;
        display: block;
    }

    .form-right-container .form {
        background-color: rgb(247, 247, 247);
        height: 80%;
        width: 60%;
        border-radius: 8px;
    }

    .form-left-container {
        display: none;
    }

    .custom-btn {
        width: 100%;
    }
    
    .table-container {
        overflow: auto;
    }
}

@media screen and (max-width: 800px) {

    .head {
        grid-template-columns: 8fr 4fr;
    }
    .ressources-proposition-container {
        width: 100%;
    }

    .ressource-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .ressource-container .ressource,
    .ressource-container .proposition {
        margin-bottom: 10px;
    }
    .proposition-down-elements {
        width: 95%;
    }
    .proposition-down-elements div {
        width: 100%;
    }
}